<!DOCTYPE html>
<html>
<head>
    <title>Árfolyamok</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="/utazas/views/static/js/arfolyamok.js"></script>
</head>

<body>
    <div>
        <p id="today"></p>
    </div>
    <form>
        <input type="text" id="start_date" name="start_date" placeholder="2022-03-05"><br>
        <input type="text" id="end_date" name="end_date" placeholder="2022-05-13"><br>
        <input type="text" id="currency" name="currency" placeholder="EUR/USD"><br>
        <button type="submit" id="submit_btn">Keres</button>
    </form>
</body>
</html>