<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="/utazas/views/static/js/register.js"></script>
</head>
<body>
    <form>
        <input type="text" id="first_name" name="first_name" placeholder="Keresztnév"><br>
        <input type="text" id="last_name" name="last_name" placeholder="Vezetéknév"><br>
        <input type="text" id="uname" name="name" placeholder="Felhasználónév"><br>
        <input type="password" id="password" name="password" placeholder="Jelszó"><br>
        <button type="submit" id="submit_btn">Regisztráció</button>
    </form>
</body>
</html>